{% extends 'biblio/extended.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block content %}



	<script language="javascript" type="text/javascript">
	<!--
	function popitup(url) {
		newwindow=window.open(url,'tttt', 'left=300,top=200,height=300,width=300');
		if (window.focus) {newwindow.focus()}
		return false;
	}

	// -->
	</script>

	<div class="book">
		
		<h1 class="book-title">{{ book.author }} ,,<i>{{ book.title }}''</i></h1>
		
		<h2>Gatunek</h2>
		<p>{{ book.kind }}</p>
		
		<h2>Źródło</h2>
		{% if book.source == "home" %}
			{% if book.lent_to == None %}
				<p>{{ book.source }}<a href="pozycz" onclick="return popitup('pozycz')" class="icon-button"><span class="glyphicon glyphicon-share"></span></a></p>
			{% else %}
				<p>{{ book.source }}</p>
				<h2>Osoba, która pożyczyła</h2>
				<p>{{ book.lent_to }}<a href="przyjmij_zwrot" onclick="return popitup('przyjmij_zwrot')" class="icon-button"><span class="glyphicon glyphicon-check"></span></a></p>
				<h2>Data pożyczenia</h2>
				<p>{{ book.lent_date }}</p>
			{% endif %}
		{% else %}
			<p>{{ book.source }}
		{% endif %}
		
		{% if book.source == "library" or book.source == "borrowed"%}
			<h2>Data wypożyczenia</h2>
			{% if book.loan_date == None %}
				<p>Nie podano</p>
			{% else %}
				<p>{{ book.loan_date }}</p>
			{% endif %}
		{% endif %}
			
		{% if book.source == "library"%}
			<h2>Termin oddania</h2>
			{% if book.due_date == None %}
				<p>Nie podano</p>
			{% else %}
				<p>{{ book.due_date }}</p>
			{% endif %}
		{% endif %}

		{% if book.source == "library" or book.source == "borrowed"%}
			<h2>Data oddania</h2>
			{% if book.returned_date == None %}
				<p>Jeszcze nie oddano<a href="zwroc" onclick="return popitup('zwroc')" class="icon-button"><span class="glyphicon glyphicon-check"></span></a></p>
			{% else %}
				<p>{{ book.returned_date }}</p>
			{% endif %}
		{% endif %}
		
		<h2>Notatki</h2>
		<p>{{ book.notes }}</p>

		<h2>Ocena</h2>
		{% if book.mark == '0' %}	
			<p>Jeszcze nie oceniono</p>
		{% elif book.mark == '1' %}
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
		{% elif book.mark == '2' %}
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
		{% elif book.mark == '3' %}
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
		{% elif book.mark == '4' %}
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star"></span>
		{% elif book.mark == '5' %}
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			{% endif %}
	</div>
{% endblock %}