{% load static %}


<html>

	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> 
		<link rel="stylesheet" href="{% static 'css/biblio.css' %}">
		<title>Biblioteczka</title>

	</head>

	<body>

	    <div class="content container">
	        <div class="row">
	            <div class="col-md-8">
	            {% block content %}
					<h1 class="title">{{title}}</h1>
  					<form method="POST" class="post-form">{% csrf_token %}
        				{{ form.as_p }}
        				<button type="submit" class="save btn btn-default">Zapisz</button>
    				</form>
	            {% endblock %}
	            </div>
	        </div>
	    </div>
	</body>
</html>